/*  Imports */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");

/* Colors */
$whiteDefault: #fff;
$blackDefault: #000000e3;
$blueCopartEUA: #0c3295;
$blackOpactiy: #000000e3;
$purpleCopart: #030736;
$purpleToBlue: #03155d;
$redWarning: #B33A3A;

/* Gradient */
$bckgCopartEUAHeader: linear-gradient(
  302deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(5, 57, 188, 1) 51%,
  rgba(5, 57, 188, 1) 100%
);

/* Fonts */
$fontFamily: "Lato", sans-serif;

/* FontWeight */
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

/* Loading Style  */
$widthLoading: 100;
